* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: #d9dcd6;
}
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
.header h1 {
    display: inline-block;
    font-size: 48px;
            }
        .header h1 .seo {
             color: #d9dcd6;
            }
/*added list style type none here, still works*/
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
}
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}
a {
    color: #ffffff;
    text-decoration: none;
}
p {
    font-size: 16px;
    text-align:center;
}
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./imgs/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
.float-left {
    float: left;
    margin-right: 25px;
}
.float-right {
    float: right;
    margin-left: 25px;
}
/*for selecting right sided menu items*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*got rid of brand/cost, consolidated into benefit ID because they were redundant, added benefit-lead
code into benefits (seemed to still be working, also centered text on side elements)
removed (i think) all unnecessary classes probably missed some though*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    margin-bottom: 32px;
    color: #ffffff;
    text-align:center;
    
}
/* select all h3 because only those were used (might make trouble for later on?)*/
*h3 {
    margin-bottom: 10px;

}

/*all 3 imgs changed to same class*/
.benefit-lead img {
    margin: 10px auto;
    max-width: 150px;
    
}
/*added same div ID to all three because they had same code*/
#search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    text-align:center;
    font-size:larger;
}
/*changed three images to same ID, called on that ID for max height*/
#what {
    max-height:200px;
}
/*select all h2 instead of three lines for each*/
*h2{
    margin-bottom: 20px;
    font-size: 36px;
}
#yunocenter {
    text-align: center;
}

